html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.opening-page {
    height: 100vh;
    background-image: url(http://picsum.photos/1920/1080?grayscale);
    position: relative;
}

.opening-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #fff;
    padding: 5vh 8vh 3vh 8vh;
    box-shadow: black 0.1vh 0.1vh 2px;
}

.name {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: black;
    font-size: 52px;
}

.name-subtext {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.opening-footer {
    width: 100%;
    background-color: #333;
    position: absolute;
    bottom: 0;
    vertical-align: center;
    text-align: center;
    opacity: .6;
}

.blink {
    color: white;
    font-size: 30px;
    animation: blinking 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
    transform: translate(-25%, -25%);
}

@keyframes blinking {
    from {
        opacity: 2;
    } to {
        opacity: 0.1;
    }
}

.main {
    height: 100vh;
    background-color: #fff
}