html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.opening-page {
    height: 100vh;
    background-image: url(/images/10.jpg);
    background-size: 100%;
    position: relative;
}

.opening-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #fff;
    padding: 5vh 8vh 3vh 8vh;
    box-shadow: black 0.1vh 0.1vh 2px;
}

.name {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: black;
    font-size: 52px;
}

.name-subtext {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.opening-footer, .main-footer {
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0;
    vertical-align: center;
    text-align: center;
    opacity: .7;
}

.blink {
    color: white;
    font-size: 30px;
    animation: blinking 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
    transform: translate(-25%, -25%);
}

@keyframes blinking {
    from {
        opacity: 2;
    } to {
        opacity: 0.1;
    }
}

.main {
    background-image: url(/images/1.jpg);
    height: 100vh;
    position: relative;
    background-size: 100%;
}

.main-box {
    background-color: whitesmoke;
    position: absolute;
    width: 90vw;
    height: 90vh;
    top: 3vh;
    left: 50%;
    transform: translate(-50%);
    box-shadow: black 0.1vh 0.1vh 2px;
}

.main-box-title {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}

hr {
    visibility: hidden;
}

.main-box-text:first-of-type {
    font-size: 30px;
    text-align: center;
}

.main-box-text {
    text-align: left;
    word-wrap: normal;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    padding: 0 5vw;
}

.main-box-text:nth-of-type(3) {
    font-size: 30px;
}

.main-box-list {
    padding-left: 15.5vw;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 24px;
    list-style: none;
}

li {
    padding: 1vh 0;
}

.main-box-list-right {
    border-style: none none none solid;
    border-width: 1px;
    border-color: #333;
}

.contact-page {
    height: 100vh;
}